* {box-sizing: border-box}

.container{
	padding: 16px;
}



input[type=text],input[type=password],input[type=number],input[type=email]{
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}
body {background-color: lightblue;}
.btn {
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
}
.success {
	color:  green;
}
.success:hover{
	background-color: #4CAF50;
	color: white;
}

#parentalB {
	padding: 10px;
	color: white;
	background-color: #009578;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;;
}

#parentalB:hover {
	background-color: #00b28f;
}

#parentalS {
	margin-left: 10px;
	font-family: sans-serif;
	color: #aaa;
}

#schoolBtn {
	padding: 10px;
	color: white;
	background-color: #009578;
	border: 1px solid #000;
	border-radius: 5px;
	cursor: pointer;;
}

#schoolBtn:hover {
	background-color: #00b28f;
}

#schooltxt {
	margin-left: 10px;
	font-family: sans-serif;
	color: #aaa;
}

#acc {
	margin-left: 10px;
	font-family: sans-serif;
	color: #aaa;
}

#sci {
	margin-left: 10px;
	font-family: sans-serif;
	color: #aaa;
}

#gender {
	position: relative;
	top: 5px;
}

#genderoption {
	position: relative;
	left: 55px;
}

.container-sm {
	width: 300px;
	padding: 500px;
	margin-left: 100px;
	margin-right: 100px;
}

.form-control {
	width: 50%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 40px 50px;
	text-decoration: none;
}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}

#home {
	position: relative;
}

.header {
	padding: 80px;
	text-align: center;
	background: #1abc9c;
	color: white;
}

body {font-family: Arial, Helvetica, sans-serif;}

#hi {
	font-size: 30;
	color: aliceblue;
	float: right;
}

.text-white {
    color: white;
}

#mycourse {
	text-align: center;
}
.newcontainer {
	width: 100%;
	height: auto;

	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.car {
	widows: 20%;
	height: 300px;
	margin: 20px;
	box-sizing: border-box;
}

.card-body {
	background-color: rgba(0,123,255,.25);
}

a:link, a:visited {
	background-color: #4CAF50;
	color: white;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
  }
  
  a:hover, a:active {
	background-color: red;
  }